

.form-box { 
    width: 50%;
    background-color: #1111116e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 12px var(--btn-primary-bg);
    margin: 50px auto;
} 

img {
    width: 40px;
}

.form-box #book-form input:not([type="checkbox"]) {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #6d6d6d;
    border-radius: 15px;
    background-color: #1111116e;
    box-shadow: 0 0 3px #6d6d6d;
    color: #f5f5f5;
}

.form-box #book-form label {
    font-weight: bold;
    margin: 0 10px;
    color: #f5f5f5;
}

.form-box .primary-btn {
    margin-top: 15px;
    width: 100%;
}

@media (max-width: 767px) {
    .form-box {
        width: 85%;
    }
}